<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
 
  

	<h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title><ui:insert name="titulo">Sistema de Pedidos de Venda</ui:insert></title>
        <h:outputStylesheet library="css" name="sistema3.css" />
        <h:outputScript library="js" name="jquery.maskMoney.js"/>
	</h:head>

	<h:body>
		<p:ajaxStatus styleClass="ajax-status" onsuccess="configurarMoeda()">
			<f:facet name="start">
				<h:graphicImage library="images" name="loading.gif"/>
			</f:facet>
			<f:facet name="complete">
				<h:outputText value=""/>
			</f:facet>
		</p:ajaxStatus>
	
		<header>
			<div style="float: left">
				<h:link outcome="/Home">
					<h:graphicImage library="images" name="logo-algaworks.png" />
				</h:link>
			</div>
			
			<div style="float: right; margin-right: 110px">
				<span style="float: left; height: 30px; line-height: 30px; margin-right: 60px">
				Olá #{seguranca.nomeUsuario}!
				</span>
				
				<h:form style="display: inline-block">
					<p:menubar styleClass="menu-sistema">
						<p:submenu label="Cadastros">
							<p:menuitem value="Clientes" />
							<p:separator/>
							<p:menuitem value="Categorias" />
							<p:menuitem value="Produtos" outcome="/produtos/PesquisaProdutos" />
						</p:submenu>
						<p:submenu label="Pedidos">
							<p:menuitem value="Novo pedido" outcome="/pedidos/CadastroPedido" />
							<p:menuitem value="Pesquisa" outcome="/pedidos/PesquisaPedidos" />
						</p:submenu>
						<p:submenu label="Lançamentos">
							<p:menuitem value="Novo lançamento" outcome="/lancamentos/CadastroLancamento" />
							<p:menuitem value="Pesquisa" outcome="/lancamentos/ConsultaLancamentos" />
						</p:submenu>
						<p:submenu label="Relatórios">
							<p:menuitem value="Pedidos emitidos" outcome="/relatorios/RelatorioPedidosEmitidos" />
						</p:submenu>
						<p:submenu label="Segurança">
							<p:menuitem value="Usuários" outcome="/seguranca/CadastroUsuario" />
							<p:separator/>
						</p:submenu>
						<p:menuitem value="Sair" url="/j_spring_security_logout" />
					</p:menubar>
				</h:form>
			</div>
			<div style="clear: both"></div>
		</header>

		<div id="conteudo">
			<ui:insert name="corpo"/>
		</div>
		
		<p:separator style="margin-top: 20px"/>
		
		<footer>
			Curso Online de Sistemas Comerciais Java EE com CDI, JPA e PrimeFaces -
			<a href="http://bit.ly/Y8saFl" target="_blank">www.algaworks.com</a>
		</footer>
		
		<script>
			function configurarMoeda() {
				$(".moeda").maskMoney({ decimal: ",", thousands: ".", allowZero: true });
			}
			
			$(document).ready(function() {
				configurarMoeda();
			});
		</script> 
	</h:body>
	
</html>