<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="titulo">Pesquisa de usuários</ui:define>

	<ui:define name="corpo">
		<h:form>
			<h1>Pesquisa de usuários</h1>

			<p:messages autoUpdate="true" closable="true" />

			<p:toolbar style="margin-top: 20px">
				<p:toolbarGroup>
					<p:commandButton value="Pesquisar"
						action="#{pesquisaUsuariosBean.pesquisar}" update="@form" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="Novo" outcome="/usuarios/CadastroUsuario" />
				</p:toolbarGroup>
			</p:toolbar>

			<p:panelGrid columns="2" id="painel"
				style="width: 100%; margin-top: 20px" columnClasses="rotulo, campo">

				<p:outputLabel value="Nome" for="nome" />
				<p:inputText id="nome" size="60"
					value="#{pesquisaUsuariosBean.filtro.nome}" />


			</p:panelGrid>

			<p:dataTable id="usuariosTable"
				value="#{pesquisaUsuariosBean.usuariosFiltrados}" var="usuario"
				style="margin-top: 20px" emptyMessage="Nenhum usuario encontrado."
				rows="20" paginator="true" paginatorAlwaysVisible="false"
				paginatorPosition="bottom">

				<p:column headerText="Nome">
					<h:outputText value="#{usuario.nome}" />
				</p:column>

				<p:column headerText="Email">
					<h:outputText value="#{usuario.email}" />
				</p:column>

				<p:column headerText="Senha">
					<h:outputText value="#{usuario.senha}" />
				</p:column>

			</p:dataTable>

			<p:confirmDialog header="Exclusão de usuario"
				message="Tem certeza que deseja excluir o usuario?"
				widgetVar="confirmacaoExclusao">
				<p:button value="Não"
					onclick="confirmacaoExclusao.hide(); return false;" />
				<p:commandButton value="Sim"
					oncomplete="confirmacaoExclusao.hide();" />
			</p:confirmDialog>
		</h:form>
	</ui:define>
</ui:composition>