<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:o="http://omnifaces.org/ui">

    <ui:define name="titulo">#{cadastroProdutoBean.editando ? 'Edição de produto' : 'Novo produto'}</ui:define>
    
    <ui:define name="corpo">
    	<f:metadata>
    		<o:viewParam name="produto" value="#{cadastroProdutoBean.produto}" />
    		<f:event listener="#{cadastroProdutoBean.inicializar}" type="preRenderView" />
    	</f:metadata>
    
    	<h:form>
	    	<h1>#{cadastroProdutoBean.editando ? 'Edição de produto' : 'Novo produto'}</h1>
	    	
	    	<p:messages autoUpdate="true" closable="true" />
	    	
	    	<p:toolbar style="margin-top: 20px">
	    		<p:toolbarGroup>
	    			<p:button value="Novo" outcome="/produtos/CadastroProduto" />
	    			<p:commandButton value="Salvar" id="botaoSalvar"
	    				action="#{cadastroProdutoBean.salvar}" update="@form" />
	    		</p:toolbarGroup>
	    		<p:toolbarGroup align="right">
	    			<p:button value="Pesquisa" outcome="/produtos/PesquisaProdutos" />
	    		</p:toolbarGroup>
	    	</p:toolbar>
	    	
	    	<p:panelGrid columns="2" id="painel" style="width: 100%; margin-top: 20px"
	    			columnClasses="rotulo, campo">
	    		<p:outputLabel value="SKU" for="sku"/>
	    		<p:inputText id="sku" size="20" maxlength="20" value="#{cadastroProdutoBean.produto.sku}" />
	    		
	    		<p:outputLabel value="Nome" for="nome"/>
	    		<p:inputText id="nome" size="60" maxlength="80" value="#{cadastroProdutoBean.produto.nome}"/>
	    		
	    		<p:outputLabel value="Categoria" for="categoria"/>
	    		<p:selectOneMenu id="categoria" value="#{cadastroProdutoBean.categoriaPai}">
	    			<f:selectItem itemLabel="Selecione a categoria"/>
	    			<f:selectItems value="#{cadastroProdutoBean.categoriasRaizes}" var="categoria"
	    				itemValue="#{categoria}" itemLabel="#{categoria.descricao}" />
	    			<p:ajax listener="#{cadastroProdutoBean.carregarSubcategorias}" update="subcategoria" />
	    		</p:selectOneMenu>
	    		
	    		<p:outputLabel value="Subcategoria" for="subcategoria"/>
	    		<p:selectOneMenu id="subcategoria" value="#{cadastroProdutoBean.produto.categoria}">
	    			<f:selectItem itemLabel="Selecione a subcategoria"/>
	    			<f:selectItems value="#{cadastroProdutoBean.subcategorias}" var="subcategoria"
	    				itemValue="#{subcategoria}" itemLabel="#{subcategoria.descricao}" />
	    		</p:selectOneMenu>
	    		
	    		<p:outputLabel value="Valor unitário" for="valorUnitario"/>
	    		<p:inputText id="valorUnitario" size="10" maxlength="10" styleClass="moeda"  
	    			value="#{cadastroProdutoBean.produto.valorUnitario}">
	    			<f:convertNumber maxFractionDigits="2" minFractionDigits="2" locale="pt_BR"/>
	    		</p:inputText>
	    		
	    		<p:outputLabel value="Estoque" for="estoque"/>
	    		<p:inputText id="estoque" size="10" maxlength="5"
	    			value="#{cadastroProdutoBean.produto.quantidadeEstoque}" />
	    	</p:panelGrid>
    	</h:form>
    </ui:define>
</ui:composition>