<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:o="http://omnifaces.org/ui">

    <ui:define name="titulo">#{cadastroUsuarioBean.editando ? 'Edição de usuario' : 'Novo usuario'}</ui:define>
    
    <ui:define name="corpo">
    	<f:metadata>
    		<!-- <o:viewParam name="usuario" value="#{cadastroUsuarioBean.usuario}" />
    		 
    		<f:event listener="#{cadastroUsuarioBean.inicializar}" type="preRenderView" />
			-->
    	</f:metadata>
    
    	<h:form>
	    	<h1>#{cadastroUsuarioBean.editando ? 'Edição de usuario' : 'Novo usuario'}</h1>
	    	
	    	<p:messages autoUpdate="true" closable="true" />
	    	
	    	<p:toolbar style="margin-top: 20px">
	    		<p:toolbarGroup>
	    			<p:button value="Novo" outcome="/seguranca/CadastroUsuario" />
	    			<p:commandButton value="Salvar" id="botaoSalvar"
	    				action="#{cadastroUsuarioBean.salvar}" update="@form" />
	    		</p:toolbarGroup>
	    		<p:toolbarGroup align="right">
	    			<p:button value="Pesquisa" outcome="/seguranca/PesquisaUsuarios" />
	    		</p:toolbarGroup>
	    	</p:toolbar>
	    	
	    	<p:panelGrid columns="2" id="painel" style="width: 100%; margin-top: 20px"
	    		 	columnClasses="rotulo, campo">
	    		
	    		<p:outputLabel value="Nome" for="nome"/>
	    		<p:inputText id="nome" size="60" maxlength="80" value="#{cadastroUsuarioBean.usuario.nome}"/>
	    		
	    		<p:outputLabel value="Email" for="email"/>
	    		<p:inputText id="email" size="60" maxlength="80" value="#{cadastroUsuarioBean.usuario.email}"
	    		validatorMessage="e-Mail inválido">
	    		<f:validateRegex pattern="[a-zA-Z0-9\-\_\.]+@[a-zA-Z0-9\-\_\.]+"/>
	    		</p:inputText>
	    		
	    		
	    		<h:outputText value= "Senha"/>
	    		<p:password id="senha" value="#{cadastroUsuarioBean.usuario.senha}" feedback="true"/>
	    	    		
	    		
	    	</p:panelGrid>
    	</h:form>
    </ui:define>
</ui:composition>