<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

	<f:metadata>
		<f:viewParam name="dummy"/>
		<f:event listener="#{graficoPedidosCriadosBean.preRender}" type="preRenderView"/>
	</f:metadata>

	<ui:define name="titulo">Dashboard</ui:define>

	<ui:define name="corpo">
	
	<p:chart type="line" model="#{graficoPedidosCriadosBean.model}"
			style="height: 400px" />
	<!-- 	
		<p:lineChart value="#{graficoPedidosCriadosBean.model}" title="Pedidos criados"
			style="height: 400px" animate="true" minY="0" legendPosition="e" />
		-->
	</ui:define>

</ui:composition>