<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Login</title>

	<h:outputStylesheet library="css" name="sistema3.css" />
</h:head>
<h:body>

	<f:metadata>
		<f:viewParam name="dummy" />
		<f:event listener="#{loginBean.preRender}" type="preRenderView" />
	</f:metadata>

	<div id="login-dialog">
		<h1>Login</h1>

		<h:form id="frm" prependId="false">

			<p:messages id="messages" autoUpdate="true" closable="true" />

			<h:panelGrid columns="2" styleClass="grid-login">
				<p:outputLabel value="E-mail" />
				<p:inputText size="30" id="j_username" value="#{loginBean.email}" />

				<p:outputLabel value="Senha" />
				<p:password size="30" id="j_password" />

				<h:panelGroup />
				<p:commandButton value="Login" action="#{loginBean.login}"
					ajax="false" />
			</h:panelGrid>
		</h:form>
	</div>
</h:body>
</html>